@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    width: 100%;
    background-color:#004225;
    font-family: 'Montserrat', sans-serif;
}

.logo {
    object-fit: contain;
    height: 60px;
    width: 60px;
}


.headerText {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: auto;
}

.cabecalho h1{
    width: auto;
    margin: 5px 5px;
    color: white;
    font-size: 2rem;
}

.cabecalho p{
    width: auto;
    margin: 5px 5px;
    color: white;
}

.headerText span {
    color: grey;
}

.principal {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 0;
    width: 50vw;
    margin: 10px 25vw;
    font-family: 'Arimo', sans-serif;
}

li {
    display: flex;
    flex-direction: column;
    margin: 4px 0 0;
    align-items: center;
    align-self: center;
    height: auto;
    width: 50vw;
    list-style: none;
    border-radius: 10px;
}

li:hover > .collapsed {
    background-image: none;
    background-color:gray;
    color: white;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
}

.collapsed {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 4px 0 0;
    align-self: center;
    height: 32px;
    width: 50vw;
    padding: 0 5px;
    border-radius: 10px;
    background-image: linear-gradient(to left, lightgray, white);
}

.organizer {
    display: flex;
    flex-direction: row;
    justify-content: start;
    margin: 2px 5px 2px 0;
    font-weight: bold;
}

.icones {
    width: 30px;
    height: 30px;
}

.indicador {
    width: auto;
    align-self: center;
    margin-left: 10px;
}


.organizer span {
    font-size: .8rem;
    font-weight:normal;
}

.valores {
    align-self: center;
    font-weight: bold;
}

.expand {
    visibility: hidden;
    height: 0;
}

li:hover > .expand {
    visibility: visible;
    background-color:honeydew;
    padding: 2px 5px;
    height: auto;
    width: 50vw;
    border-radius: 0 0 10px 10px;
    
}

li:hover > .expand p{
    padding: 5px 5px;
    text-align: justify;
}

.dolar {
    background: url(img/dolar.svg) no-repeat;
    background-size: contain;
}
 
.euro {
    background: url(img/euro.svg) no-repeat;
    background-size: contain;
}

.ibov {
    background: url(img/ibov.svg) no-repeat;
    background-size: contain;
}

.cdi {
    background: url(img/cdi.svg) no-repeat;
    background-size: contain;
}

.selic {
    background: url(img/selic.svg) no-repeat;
    background-size: contain;
}

.bc {
    background: url(img/balanca_comercial.svg) no-repeat;
    background-size: contain;
}

.pib {
    background: url(img/pib.svg) no-repeat;
    background-size: contain;
}

.pme {
    background: url(img/pme.svg) no-repeat;
    background-size: contain;
}

.igpm {
    background: url(img/igpm.svg) no-repeat;
    background-size: contain;
}

.ipca {
    background: url(img/ipca.svg) no-repeat;
    background-size: contain;
}

.incc {
    background: url(img/incc.svg) no-repeat;
    background-size: contain;
}

.inpc {
    background: url(img/inpc.svg) no-repeat;
    background-size: contain;
}

.artigos {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: calc(100vh - 586px);
}

.divisor {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #004225;
    color:white;
}

.divisor h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

.artigos__logo {
    object-fit: scale-down;
    height: 40px;
    width: 40px;
    margin: 5px;
}

.destaque {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    padding: 0;
    width: 100%;
    font-family: 'Arimo', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    width: 50vw;
    margin: 10px 25vw;
}

.data {
    text-indent: 41vw;
    height: 20px;
    border-radius: 10px 10px 0 0;
    margin-top: 10px;
    width: 100%;
    align-self: baseline;
    background-image: linear-gradient(to left, lightgray, white);
    font-weight: bold;
    padding-top: 8px;
}

.destaque__conteudo {
    text-align: justify;
    background-color:honeydew;
    height: auto;
    padding: 10px;
    border-radius: 0 0 10px 10px;
}

footer { 
    position: relative;
    bottom:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    color: lightgrey;
    margin: 20px 0 0;
    padding: 20px 0 5px;
    font-weight: lighter;
    font-size: 0.6rem;
}

@media screen and (max-width: 770px) {

    .cabecalho h1{
        font-size: 1.5rem;
        width: 80vw;
        margin: 10px 0 10px 5px;
        text-align: center;
        padding: 0 0 0 5px;
    }

    .cabecalho p{
        width: 80vw;
        margin: 1px 0 5px 5px;
        text-align: center;
        font-weight:lighter;
    }

    ul {
        width: 90vw;
        margin: 10px 5vw;
    }

    li {
        width: 90vw;
        height: auto;
    }

    .collapsed {
        width: 90vw;
    }

    li:hover > .expand {
        width: 90vw;
    }

    .organizer span {
        font-size: .7rem;
        font-weight:lighter;
    }
    
    .artigos__logo {
        height: 38px;
        width: 38px;
    }

    .divisor h2 {
        font-size: 1.2rem;
    }
    
    .content {
        width: 90vw;
        margin: 10px 5vw;
    }
    
    .data {
        padding-top: 6px;
        text-indent: 55vw;
    }
    
    .destaque__conteudo {
        text-indent: 1.5rem;
    }
}